.movie-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;

  .poster-container {
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }

  .rating-and-watchlist {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .rating-container {
      display: flex;
      gap: 8px;

      img {
        width: 20px;
        filter: invert(85%) sepia(90%) saturate(97%) hue-rotate(210deg)
          brightness(117%) contrast(101%);
      }
    }

    .add-to-watchlist {
      display: flex;
      align-items: center;

      img {
        width: 20px;
        filter: invert(85%) sepia(90%) saturate(97%) hue-rotate(210deg)
          brightness(117%) contrast(101%);
      }
    }
  }

  .title {
    max-width: 100%;

    span {
      max-width: 100%;
      white-space: nowrap;
    }
  }
}

@media only screen and (max-width: 768px) {
  .movie-tile {
    width: 45%;
  }
}

@media only screen and (min-width: 768px) {
  .movie-tile {
    width: 200px;
    height: 350px;

    &:hover {
      transform: scale(1.1);
    }
  }
}
